html, body {
  font-family: "Karla", Helvetica, sans-serif;
  color:#151617;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  background-color: black;
  background-image: url(http://makethisyear.com/images/pattern-dark.png);
  text-align: justify;
}

h1 {
  color: purple;
  text-align: justify;
  max-width: 42%;
  margin-left: auto;
  margin-right: auto;
  font-size: 200%;
}

.makethis {
  max-width: 42%;
  margin-left: auto;
  margin-right: auto;
}

.first {
  color: whitesmoke;
  text-align: justify;
  padding: 0;
  max-width: 42%;
  margin-left: auto;
  margin-right: auto;
  font-size: 250%;
  font-weight: bold;
  line-height: 1.5
}

.second {
  color: whitesmoke;
  text-align: justify;
  padding: 0;
  max-width: 42%;
  margin-left: auto;
  margin-right: auto;
  font-size: 150%;
  line-height: 1.5;
}

.email {
  font-size: 20px;
  height: 60px;
  width: 400px;
  border-radius: 5px;
  color: #a7a7a7;
  background-color: #e6e6e6;
  transition: .1s;
  transition-property: color, background-color;
}

.email:focus {
  color: black;
  background-color: whitesmoke;
}

button {
  background-color: #AE5CC8;
  border-color: currentColor;
  color: whitesmoke;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  border-width: 0;
  border-radius: 3px;
  margin-left: 25px;
  transition: .1s;
  transition-property: opacity;
}

button:hover {
  opacity: .7;
}

section {
  margin-top: 5%;
  text-align: justify;
  padding: 0;
  max-width: 43%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  display: block;
  text-align: justify;
}

li {
  display: block;
  float: left;
  width: 180px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: justify;
}

.typ {
  font-size: 18px;
}

.critters {
  float: none;
  margin-top: 300px;
  text-align: justify;
  line-height: 1.5;
}

footer {
  font-size: 16px;
  color: gray;
  margin-top: -15px;
  margin-bottom: 150px;
}

.jigglypuff {
  margin-top: 250px;
  text-align: justify;
  font-size: 150%;
  line-height: 1.5;
}
